.container {
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.label {
  margin: 1em;
  padding: 1em;
}

.formGroup {
  background-color: red;
  padding: 1em;
}
