.container {
  text-align: center;
  padding-top: 1em;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.label {
  margin: 1em;
  padding: 1em;
}

.formGroup {
  /* background-color: red; */
  padding: 1em;
}

.buttonStyle {
  background-color: #301b3f;
  width: 50%;
  border: none;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}
.buttonStyle:hover {
  background-color: #3c415c;
  color: #b4a5a5;
}
.buttonStyle:active {
  background-color: #3c415c;
  color: #b4a5a5;
}

.labelText {
  font-size: 1.3em;
}
