.header {
  text-align: center;
  padding: 2em 0 1.75em 0;
}

.tableHead {
  color: white;
}

.test {
  color: red;
}

.tableHeader {
  font-size: 1.25em;
}

.formGroup {
  /* background-color: red; */
  padding: 1em;
}

.buttonStyle {
  background-color: #301b3f;
  width: 50%;
  border: none;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

.buttonStyle:focus {
  outline: none;
  box-shadow: none;
  background-color: #301b3f;
  width: 50%;
  border: none;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  margin: 1.1em 0 2em 0;
}
